@using AuthorizationServer
@{
    ViewData["Title"] = "首页";
}
<div class="row" style="margin-top: 25px;">
    <div class="col-xs-6 col-md-3">
        <div class="panel panel-info">
            <div class="panel-heading">销售系统</div>
            <div class="panel-body" style="padding-bottom: 0;">
                <a href="@Startup.Configuration["MLH:SalesApi:ClientBase"]" class="thumbnail">
                    <img src="images/sales.jpg" alt="销售系统" style="width: 220px; height: 220px;">
                </a>
            </div>
        </div>
    </div>
</div>